@import url("./fonts.css");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.footer-block {
  padding: 120px 100px;
}

.footer-text-weight {
  font-weight: 500;
}

.footer-items {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #10367c;
  color: #ffffff;
}

.copyright {
  margin-top: 64px;
  font-size: 14px;
  line-height: 16px;
}

.footer-item p {
  font-size: 20px;
  line-height: 23px;
}

.footer-item a {
  text-decoration: none;
}

.footer-item a:hover {
  text-decoration: underline;
}
