@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
.container {
    max-width: 1232px;
    margin: 0 auto;
}
header {
    background: url("../images/mainpicture.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.menu {
    display: flex;
    padding-top: 51px;
    justify-content: space-between;
}
.menu__items {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
}
.menu__item {
    margin-left: 24px;
}
.menu__item:nth-child(3) {
    margin-left: 48px;
    width: 30px;
    height: 30px;
}
.menu__item:nth-child(4) {
    width: 40px;
    height: 40px;
}
.motto {
    width: 542px;
    margin-top: 140px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: white;
}
.input-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
    display: flex;
    margin-top: 100px;
}
.input-name p:first-child {
    margin-left: 24px;
    margin-right: 221px;
}
.input_block {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.input_block input {
    border: none;
    width: 25%;
    padding: 22px 24px;
    border-radius: 8px;
}
.input_block input:nth-child(2) {
    border: 3px solid #F5BD41;
    width: 259px;
}
.input_block input[type="button"] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: white;
    background: #3077C6;
}
.input_block input:nth-child(1) {
    width: 467px;
}
.input_block input:nth-child(3) {
    width: 314px;
}
.input_block input:nth-child(4) {
    width: 192px;
}
.pos-rel:hover .line {
    border: 2px solid #F5BD41;
    width: 50px;
    position: absolute;
    content: '';
    top: 60px;
    left: 5px;
}
.pos-rel {
    position: relative;
}
.input_block input::placeholder {
    font-size: 18px;
}
.button {
    justify-content: center;
    display: flex;
    margin-top: 70px;
}
.button__item-apps {
    width: 120px;
    height: 40px;
    margin: 0 8px;
    background-image: url(../images/sprite.svg);
    background-position: -135px 0;
}
.button__item-gp {
    width: 135px;
    height: 40px;
    margin: 0 8px;
    background-image: url(../images/sprite.svg);
    background-position: 0 0;
}
