@import url("./fonts.css");

body {
  margin: 0;
}

.guest-loves {
  background: url("../images/guestlovesBackground.svg");
  width: 100%;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.guest-loves__title h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  padding: 120px 0 105px 0;
  margin: 0;
}

.guest-loves__content {
  padding-bottom: 120px;
}

.guest-loves__items {
  display: flex;
}

.guest-loves__item {
  margin-right: 16px;
}

.guest-loves__item p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3077C6;
}

.guest-loves__item .guest-loves__text {
  color: #BFBFBF;
}

.guest-loves__button {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  left: 1305px;
  top: 400px;
}

@media (max-width: 450px) {
  .container {
    max-width:328px;
  }

  .guest-loves__title h2 {
    padding: 40px 0 32px 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }

  .guest-loves__items {
    padding-bottom: 40px;
  }

  .guest-loves__image {
    width: 156px;
    height: 155px;
  }

  .guest-loves__item:nth-child(3), .guest-loves__item:nth-child(4) {
    display: none;
  }

  .guest-loves__item p {
    font-size: 12px;
    line-height: 14px;
  }

  .guest-loves__item:nth-child(1) p {
    margin: 8px 0 4px 0;
  }

  .guest-loves__button {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 350px;
    top: 160px;
  }
}

